<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spp.varjyasarathi">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VarjyaSarathi">
        <activity
            android:name=".ScanPreview"
            android:exported="false" />
        <activity
            android:name=".PdfView"
            android:exported="false" />
        <activity
            android:name=".LanguageSelection"
            android:exported="false" />
        <activity
            android:name=".ConnectPickup"
            android:exported="false" />
        <activity
            android:name=".PickupActivity"
            android:exported="false" />
        <activity
            android:name=".DoorstepActivity"
            android:exported="false" />
        <activity
            android:name=".MarketActivity"
            android:exported="false" />
        <activity
            android:name=".ConvertVsp"
            android:exported="false" />
        <activity
            android:name=".SocialDashboard"
            android:exported="false" />
        <activity
            android:name=".EmployeeCleanGarbage"
            android:exported="false" />
        <activity
            android:name=".EmployeeDashboard"
            android:exported="false" />
        <activity
            android:name=".AdminDeleteDustbin"
            android:exported="false" />
        <activity
            android:name=".AdminEditDustbin"
            android:exported="false" />
        <activity
            android:name=".AdminAddDustbin"
            android:exported="false" />
        <activity
            android:name=".DustbinStatus"
            android:exported="false" />
        <activity
            android:name=".ScanGarbage"
            android:exported="false" />
        <activity
            android:name=".SignupPage"
            android:exported="false" />
        <activity
            android:name=".AfterSubmission"
            android:exported="false" />
        <activity
            android:name=".GarbageUpload"
            android:exported="false" />
        <activity
            android:name=".GarbageScan"
            android:exported="false" />
        <activity
            android:name=".SigninPage"
            android:exported="false" />
        <activity
            android:name=".MainMenu"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>